.container {
  height: 100vh;
  width: 100%;
}

p {
  text-align: center;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.box {
  position: absolute;
  top: 15rem;
  left: 20rem;
  display: inline-block;
  height: 5rem;
  width: 10rem;
  border-radius: 5px;
  border: solid black 2px;
  background-color: rgb(169, 253, 253);
}
